<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.helllabs.android.xmp"
    android:installLocation="auto"
    android:versionCode="52"
    android:versionName="3.9.1" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <supports-screens />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="XmpApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".browser.PlaylistMenu"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".player.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/mod" />
                <data android:mimeType="audio/s3m" />
                <data android:mimeType="audio/xm" />
                <data android:mimeType="audio/it" />
                <data android:mimeType="audio/x-mod" />
                <data android:mimeType="audio/x-s3m" />
                <data android:mimeType="audio/x-xm" />
                <data android:mimeType="audio/x-it" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.mod" />
                <data android:pathPattern=".*\\.s3m" />
                <data android:pathPattern=".*\\.it" />
                <data android:pathPattern=".*\\.xm" />
                <data android:pathPattern=".*\\.m15" />
                <data android:pathPattern=".*\\.itz" />
                <data android:pathPattern=".*\\.mdz" />
                <data android:pathPattern=".*\\.s3z" />
                <data android:pathPattern=".*\\.xmz" />
                <data android:pathPattern=".*\\.med" />
                <data android:pathPattern=".*\\.stm" />
                <data android:pathPattern=".*\\.mtm" />
                <data android:pathPattern=".*\\.mdl" />
                <data android:pathPattern=".*\\.j2b" />
                <data android:pathPattern=".*\\.umx" />
                <data android:pathPattern=".*\\.psm" />
                <data android:pathPattern=".*\\.669" />
                <data android:pathPattern=".*\\.amf" />
                <data android:pathPattern=".*\\.imf" />

                <!-- Ugly! http://stackoverflow.com/questions/3400072/ -->

                <data android:pathPattern=".*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\.s3m" />
                <data android:pathPattern=".*\\..*\\.it" />
                <data android:pathPattern=".*\\..*\\.xm" />
                <data android:pathPattern=".*\\..*\\.m15" />
                <data android:pathPattern=".*\\..*\\.itz" />
                <data android:pathPattern=".*\\..*\\.mdz" />
                <data android:pathPattern=".*\\..*\\.s3z" />
                <data android:pathPattern=".*\\..*\\.xmz" />
                <data android:pathPattern=".*\\..*\\.med" />
                <data android:pathPattern=".*\\..*\\.stm" />
                <data android:pathPattern=".*\\..*\\.mtm" />
                <data android:pathPattern=".*\\..*\\.mdl" />
                <data android:pathPattern=".*\\..*\\.j2b" />
                <data android:pathPattern=".*\\..*\\.umx" />
                <data android:pathPattern=".*\\..*\\.psm" />
                <data android:pathPattern=".*\\..*\\.669" />
                <data android:pathPattern=".*\\..*\\.amf" />
                <data android:pathPattern=".*\\..*\\.imf" />
                <data android:pathPattern=".*\\..*\\..*\\.mod" />
                <data android:pathPattern=".*\\..*\\..*\\.s3m" />
                <data android:pathPattern=".*\\..*\\..*\\.it" />
                <data android:pathPattern=".*\\..*\\..*\\.xm" />
                <data android:pathPattern=".*\\.MOD" />
                <data android:pathPattern=".*\\.S3M" />
                <data android:pathPattern=".*\\.IT" />
                <data android:pathPattern=".*\\.XM" />
                <data android:pathPattern=".*\\..*\\.MOD" />
                <data android:pathPattern=".*\\..*\\.S3M" />
                <data android:pathPattern=".*\\..*\\.IT" />
                <data android:pathPattern=".*\\..*\\.XM" />
                <data android:pathPattern=".*\\..*\\..*\\.MOD" />
                <data android:pathPattern=".*\\..*\\..*\\.S3M" />
                <data android:pathPattern=".*\\..*\\..*\\.IT" />
                <data android:pathPattern=".*\\..*\\..*\\.XM" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.Preferences"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".player.CommentActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".browser.ModList"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".browser.PlayList"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".preferences.about.ListFormats"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="org.helllabs.android.xmp.LIST_FORMATS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.about.About"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="org.helllabs.android.xmp.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".service.PlayerService" />

        <receiver
            android:name=".service.receiver.RemoteControlReceiver"
            android:enabled="true" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.receiver.NotificationActionReceiver" />

        <!--
             For listening to headset changes, the broadcast receiver
		     cannot be declared in the manifest, it must be dynamically
		     registered.
        -->
    </application>

</manifest>